
.irish-grover-regular {
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
    font-family: "Irish Grover", system-ui;
}



button{
    font-family: "Irish Grover", system-ui;
    display: block;
    padding: 10px 20px;
    margin: 100px auto;
    color: white;
    font-size: 20px;
    background-color: rgb(0, 159, 106);
    border-radius: 10px;
    border: none;
    
}
button:hover {
    background-color: rgb(0, 117, 78);
}


#start-page {
    display: block;
    background-image: url(../images/desert-blur.png);
    background-size: cover;
    width: 700px;
    height: 500px;
    /* margin: 100px auto; */
    /* filter: blur(7px); */
    overflow: hidden;
    position: relative;
}

#game-page {
    display: none;
    background-image: url(../images/Desert.png);
    background-size: cover;
    width: 700px;
    height: 500px;
    /* margin: 100px auto; */
    /* filter: blur(7px); */
    overflow: hidden;
    position: relative;
}


#gameover-page {
    /* display: none;
    background-color: rgb(207, 69, 0);
    background-size: cover;
    width: 700px;
    height: 500px;
    margin: 100px auto; */
    display: none;
    justify-content: center;
    flex-direction: column;
    background-image: url(../images/desert-blur.png);
    background-size: cover;
    width: 700px;
    height: 500px;
    /* margin: 100px auto; */
    /* filter: blur(7px); */
    overflow: hidden;
    position: relative;
}
#gameover-page h1 {
    text-align: center;
    color: aliceblue;
}
#gameover-page .score {
    text-align: center;
}

.score {
    display: block;
    text-align: right;
    font-size: 1.5em;
    font-weight: bold;
}

.container {
    margin: 100px auto;
    width: 700px;
    height: 550px;
}